:root {
    --var-box-size: 5;
}

html {
    font-size: 100%;
}

nav h1 {
    color: #29b1dd;
    font-size: 2em;
    font-weight: bolder;
}

.filter-section{
    background-color: #29b1dd;
}

.box-section {
    background-color: #dddddd;
}

.form-control{
    width: auto;
}

.box {
    margin: 10px;
    width: calc(100% / var(--var-box-size) - 20px);
    border-radius: 25px;
    padding: 20px 0;
}

.box > i {
    font-size: 3.2em;
}

.box > span {
    font-size: 1.5em;
    font-weight: bolder;
}

button > img {
    width: 100%;
    padding: 1em;
}